@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-primary: #00b96b;
  --color-grey: #F9FBFC;
  --color-light: #fff;
  --color-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}